<div class="modal-body">
	<form v-on:submit.prevent>
		<div class="form-group">
			<label for="nome-musica">Nome</label>
			<input class="form-control" type="text" id="nome-musica" placeholder="Nome da música">
		</div>
		<div class="form-group">
			<label for="artista">Artista</label>
			<input class="form-control" type="text" id="artista" placeholder="Nome do Artista/Banda">
		</div>
		<div class="form-group">
			<label for="cifra">Cifra</label>
			<textarea id="cifra" class="form-control" rows="100" placeholder="Digite ou cole sua cifra aqui!"></textarea>
		</div>
	</form>
</div>