<div class="modal fade" id="display-cifra-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- cabecalho -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- corpo -->
			<% include partials/cifra_form %>
		</div>
	</div>
</div>